 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an enthusiastic gamer living in the New Delhi, India with a passion for Game development (Animation, 3D artist and generalist). I love to travel, play Cricket and try different cuisines.</p>
                </div>
                <div class="col-lg-4">
                    <p>I love to play new games, which give new ideas that are helpful in my professional work to give variety to my art. I am passionate about learning new game technologies and also improving my current skills to become a lead in my area.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/gd-gamer/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
